ul.desc-parameterlist {
    text-indent: 0;
    margin-left: 2em;
    display: block;
}

ul.desc-parameterlist li.desc-parameter {
    list-style: square;
}

.template-params {
    font-size: 0.8em;
}

